/* Start Media Query */
/* Smart Phones & Tablets */
@media (max-width: 767px) 
{
	.navbar-inverse .navbar-nav > li > a {
		padding-top: 10px; 
		padding-bottom: 10px; 
	}
	.subscribe .form-control{
		margin: 20px auto; 
	}
}
/* From Small to Medium: Small Screens */
@media (min-width: 768px) and (max-width: 991px)
{
	
}
/* Medium Screens */
@media (min-width: 992px) and (max-width: 1199px)
{
	
}
/* Large Screens */
@media (min-width: 1200px)
{
	
}
/* End Media Query */